*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    color: white;
}
.grid{
    width: 992px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: 
    "box0 box0 box0 box3 box3 box4"
    "box0 box0 box0 box3 box3 box6"
    "box0 box0 box0 box3 box3 box10"
    "box0 box0 box0 box3 box3 box12";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.grid .box{
    text-align: center;
    line-height:100px;
    height:100px;
}
.grid .box0{
    grid-area: box0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "box1 box2 box2"
    "box5 box2 box2"
    "box7 box8 box9"
    "box11 box11 box11" ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.grid .box0 .box1{
    grid-area: box1;
    background-color: #c9316b;
}
.grid .box0 .box2{
    grid-area: box2;
    background-color: #ca319d;
    height: 100%;
}
.grid .box3{
    height: 100%;
    grid-area: box3;
    background-color: #e46a5e;
}
.grid .box4{
    grid-area: box4;
    background-color: #efc437;
}
.grid .box0 .box5{
    grid-area: box5;
    background-color: #518944;
}
.grid .box6{
    grid-area: box6;
    background-color: #367c86;
}
.grid .box0 .box7{
    grid-area: box7;
    background-color: #799928;
}
.grid .box0 .box8{
    grid-area: box8;
    background-color: #468453;
}
.grid .box0 .box9{
    grid-area: box9;
    background-color: #30c9c2;
}
.grid .box10{
    grid-area: box10;
    background-color: #31c98f;
}
.grid .box0 .box11{
    grid-area: box11;
    background-color: #544079;
}
.grid .box0 .box11 a{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size:18px;
    margin-left: 10px;
}
.grid .box0 .box11 a:hover{
    background-color: rgb(168, 88, 88);
    color:black;
    border-radius: 10px;
}
.grid .box12{
    grid-area: box12;
    background-color: #d8202e;
}

/*start.html*/

.windows{
    width:1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "col1 col2 col3 col4";
    color: rgb(235, 232, 232);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    font-size: 40px;
    margin-top: 10px;
    padding: 40px 20px;
    background-image: url("https://wallpaperaccess.com/full/1354140.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.windows .col{
    height: 500px;
    text-align: center;
    line-height: 500px;
}
.windows .col1{
    grid-area: col1;
    height: 100px;
    line-height: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "col11 col11"
    "col12 col13"
    "col14 col15"
    "col16 col16";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.windows .col1 .col11{
    grid-area:col11;
    background-color: #0077c8;
    
}
.windows .col1 .col12{
    grid-area:col12;
    background-color: #00bdf1;
    
}
.windows .col1 .col13{
    grid-area:col13;
    background-color: #da542d;
    
}
.windows .col1 .col14{
    grid-area:col14;
    background-color: #ae193e;
}
.windows .col1 .col15{
    grid-area:col15;
    background-color: #094ab2;
}
.windows .col1 .col16{
    grid-area:col16;
    width: 295px;
    height:102px;
}
img{
    width:100%;
    height:100%;
}

.windows .col2{
    grid-area: col2;
    height: 100px;
    line-height: 100px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas:
    "col21"
    "col22"
    "col23"
    "col23";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.windows .col2 .col21{
    grid-area:col21;
    background-color: #613cbc;
}
.windows .col2 .col22{
    grid-area:col22;
    background-color: #009f00;
}
.windows .col2 .col23{
    grid-area:col23;
    height: 209px;
    line-height: 209px;
    background-color: #2d89ef;
}

.windows .col3{
    grid-area: col3;
    height: 100px;
    line-height: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "col31 col32"
    "col33 col34"
    "col35 col35"
    "col36 col36";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.windows .col3 .col31{
    grid-area:col31;
    background-color: #009bad;
}
.windows .col3 .col32{
    grid-area:col32;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "col321 col322"
    "col323 col324";
    height:48.5px;
    line-height: 48.5px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    font-size: 25px;
}
.windows .col3 .col32 .col321{
    grid-area:col321;
    background-color: #b91d47;
}
.windows .col3 .col32 .col322{
    background-color: #d34927;
    grid-area:col322;
}
.windows .col3 .col32 .col323{
    background-color: #009600;
    grid-area:col323;
}
.windows .col3 .col32 .col324{
    background-color: #9e0096;
    grid-area:col324;
}
.windows .col3 .col33{
    background-color: #2d89ef;
    grid-area:col33;
    
}
.windows .col3 .col34{
    background-color: #da532c;
    grid-area:col34;
    
}
.windows .col3 .col35{
    grid-area:col35;
    width: 295px;
    height:102px;
}
.windows .col3 .col36{
    grid-area:col36;
    width: 295px;
    height:102px;
}

.windows .col4{
    grid-area: col4;
    height: 100px;
    line-height: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "col41 col41"
    "col41 col41"
    "col42 col42"
    "col43 col44";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.windows .col4 .col41{
    grid-area:col41;
    height: 209px;
    line-height: 209px;
    background-color: #009a00;
}
.windows .col4 .col42{
    background-color: #00869c;
    grid-area:col42;
    
}
.windows .col4 .col43{
    background-color: #8e0097;
    grid-area:col43;
    
}
.windows .col4 .col44{
    background-color: #d44a27;
    grid-area:col44;
    
}
a{
    margin: 350px 0px 0px;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(115, 169, 185);
    width: 55px;
    border-radius:5px;
    color:black;
    font-size: 16px;
}
a:hover{
    background-color:crimson;
    color:white;
}